 html,
body,
.all {
 	padding: 0px;
 	margin: 0px;
 	height: 100%;
 	width: 100%;
 	font-family: 'Titillium Web', sans-serif;
 	min-width: 360px;
 }
 
* {
 	/*border: 1px solid red;*/
 	box-sizing: border-box;
 }
 
 *:before {
  	box-sizing: border-box;
}
  
  *:after {
   	box-sizing: border-box;
}

    
 .name {
 	width: 100%;
 	height: 756px;
 	background-image: url(" ./images/bg.jpg");
 	background-position: center;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	padding: 165px 7% 1% 7%;
 }

 .name .title {
 	color: #fff;
 	font-size: 140px;
 	line-height: 140px;
 	margin: 0px auto 0px auto;
 	text-align: center;
 	font-weight: lighter;
 }
 .name .text {
 	color: #fff;
 	font-size: 2.2rem;
 	text-align: center;
 	margin-bottom: 150px;
 	font-weight: 300;
 }
 
 .name .ico {
  	color: #7a7a7a;
  }

   .name .ico a{
  	color: #7a7a7a;
   	text-decoration: none;

   }
  .name .to-bottom {
   	width: 48px;
   	height: 48px;
   	border: solid 2px currentColor;
   	border-radius: 50%;
   	position: relative;
   	margin: auto;

   }

 .clear {
 	clear: both;
 }
 .name .to-bottom:after {
 	content: '';
 	position: absolute;
 	left: 13px;
 	top: 10px;
 	width: 18px;
 	height: 18px;
 	border-bottom: solid 2px currentColor;
 	border-right: solid 2px currentColor;
 	-webkit-transform: rotate(45deg);
 	transform: rotate(45deg);
 }
.header {
            	height: 50px;
            	width: 100%;
            	background-color: #000;
}
 .header .text {
 	margin-left:  15px;
 	float: left;
 	font-size: 36px;
 	font-weight: 300;
 	line-height: 50px;
 	color: #fff;
 }
 .menu {
 	float: right;
 	width: 60px;
 	height: 50px;
 	position: relative;
 }
 .header .list{
 	width: 210px;
 	height: 230px;
 	position: absolute;
            	right: -2%;
            	background-color: #fff;
            	margin-top: 50px;
            	z-index: 10;
            	list-style-type: none;
 	font-weight: 600;
 	color: #e66f69;
 	padding: 20px;
 	visibility: hidden;
 	transition: 0.2s;
 	border: 1px solid  #000;
 	border-top: none ;
 }

 .header .menu:hover .list{
 	/*opacity: 100;*/
 	visibility: visible;
 	transition: 0.1s;

 }
 .header .list::before{
 	content: "";
 	height: 15px;
 	width: 15px;
 	color: #fff;
 	background-color: #FFF;
 	border-left: 1px solid #fff;
 	border-top: 1px solid #fff;
 	transform: rotate(45deg);
 	right: 23px;
 	top: -4px;
 	position: absolute;
 }
 .header .list li{
 	margin: 10px;
 	position: relative;
 }
 .header .list a{
 	text-decoration: none;
 	color: #e66f69;
 }
 .header .list div[class*=ico]{
 	width: 21px;
 	height: 21px;
 	-webkit-background-size: 100%;
 	background-size: 100%;
 	background-position: center;
 	display: inline-block;
 	vertical-align: middle;
 	position: absolute;
 	right: 0;
 }
  .header .list .ico-home{
 	background-image: url(" ./images/home.png");
  }
    .header .list .ico-service{
 	background-image: url(" ./images/support-on.png");
  }
    .header .list .ico-work{
 	background-image: url(" ./images/glass.png");
  }
    .header .list .ico-test{
 	background-image: url(" ./images/message.png");
  }
    .header .list .ico-contact{
 	background-image: url(" ./images/question.png");
  }
 .menu:hover .ico, .menu:hover .ico::before, .menu:hover  .ico::after{
 	border: 1px solid  #e66f69;
 }
 .menu .ico {
 	width: 30px;
 	background-color: #000;
 	height: 4px;
 	border: 1px solid #fff;
 	margin-top: 22.5px;
 	position: absolute;
 	right: 15px;
 }
 .menu .ico::before {
 	content: "";
 	width: 30px;
 	background-color: #000;
 	height: 4px;
 	border: 1px solid #fff;
 	position: absolute;
 	top: -9px;
 	right: -1px;
 }

 .menu .ico::after {
 	content: "";
 	width: 30px;
 	background-color: #000;
 	height: 4px;
 	border: 1px solid #fff;
 	position: absolute;
 	top: 7px;
 	right: -1px;
 }
/*第一部分，自我介绍结束*/




 /*第二部分service开始*/
.service{
	width: 100%;
	padding: 135px 0 30px 0;
	background-color: #fff;
}
.service .head{
	height: 110px;
	width: 100%;
	position:relative;
	padding: 0 2% 0 2%;
}
.service .left{
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.service .title{
	height: 110px;
	width:235px;
	line-height: 110px;
	font-size: 46px;
	text-align: center;
	margin: auto;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-117.5px);
}
.service .container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	padding: 20px 1% 20px 1%;
	align-items: center;
}
.service .part{
	flex: auto;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;

}
.service .content{
	flex: none;
	height: 265px;
	width: 265px;
	border-radius: 50%;
	border: 1px solid  #ccc;
	text-align: center;
	margin: 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.service .content:hover .img-idea{
	background-image: url(" ./images/idea-on.png");
}
.service .content:hover .img-respon{
	background-image: url(" ./images/respon-on.png");
}
.service .content:hover .img-clean{
	background-image: url(" ./images/clean-on.png");
}
.service .content:hover .img-support{
	background-image: url(" ./images/support-on.png");
}
.service .img-idea{
	flex: none;	
	width: 60px;
	height: 60px;
	background-image: url(" ./images/idea-off.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.service .img-respon{
	flex: none;	
	width: 60px;
	height: 60px;
	background-image: url(" ./images/respon-off.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.service .img-clean{
	flex: none;	
	width: 60px;
	height: 60px;
	background-image: url(" ./images/clean-off.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.service .img-support{
	flex: none;	
	width: 60px;
	height: 60px;
	background-image: url(" ./images/support-off.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.service .content-head{
	font-size: 28px;
	line-height: 56px;
}
.service .text{
	font-size: 14px;
	line-height: 20px;
}
/*第二部分service结束*/




/*第三部分work开始*/
.work{
	width: 100%;
	padding: 45px 0px 85px 0px;
	background-color: #fff;
}
.work .head{
	height: 110px;
	width: 100%;
	position:relative;
	padding: 0 2% 0 2%;
	margin-bottom: 12px;
}
.work .left{
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.work .title{
	height: 110px;
	width:257px;
	line-height: 110px;
	font-size: 46px;
	text-align: center;
	margin: auto;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-117.5px);
}
.work .container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0.1% 0.1% 0.1% 0.1%;
}
/*work部分 动画效果开始*/
.work [class*=img]{
	transition: all 0.5s ease-in-out 20ms;
	margin: 2% 1%;
}
.work [class*=img]:hover{
	background-position: 0 -50px;
}
.work [class*=img]:hover .detail{
	margin-top: 180px;
}
.work .detail{
	transition: all 0.5s ease-in-out 20ms;

}
/*work部分，动画效果结束*/

.work  div[class*=img1]{
	position: relative;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0px;
	overflow: hidden;
}

.work .detail{
	position:absolute;
	width: 100%;
	height: 100px;
	background-color: #000;
	/*top: 0px;*/
	color: #fff;
	font-size: 28px;
	text-align: left;
	padding: 15px 20px 15px 20px;
	margin-top: 100%;
	line-height: 28px;
}
.work  .detail span{
	line-height: 16px;
	font-weight: 600;
	font-size: 16px;

}
.work  .detail .link{
	position: absolute;
	right: 5.5%;
	top: 30px;
	border: 1px solid  #fff;
	padding: 10px 15px;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	color: #fff;
}
.work div[class*=img2] {
	position: relative;
	text-align: center;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio2.jpg");
	background-size: 100%;
	background-position: 0 0px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.work div[class*=img3] {
	position: relative;
	text-align: center;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio3.jpg");
	background-size: 100%;
	background-position: 0 0px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.work div[class*=img4] {
	position: relative;
	text-align: center;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio4.jpg");
	background-size: 100%;
	background-position: 0 0px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.work div[class*=img5] {
	position: relative;
	text-align: center;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio5.jpg");
	background-size: 100%;
	background-position: 0 0px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.work div[class*=img6] {
	position: relative;
	text-align: center;
	width: 360px;
	height: 280px;
	background-image: url( "./images/portfolio6.jpg");
	background-size: 100%;
	background-position: 0 0px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.work .foot{
	width: 100%;
	height: 65px;
	margin-top: 65px;
	position: relative;
}

.work .foot a{
	text-decoration: none;
	margin: auto;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	line-height: 65px;
	height: 65px;
	display: block;
	width: 160px;
	border: 1px solid  #000;
	color: #000;
}
/*第三部分work结束*/




/*第四部分test开始*/
.test{
	width: 100%;
	background-image: url(" ./images/parallax.jpg");
	background-size:100% 100% ;
	-webkit-background-size:100% 100%  ;
	background-position: 0 0;
	background-repeat: repeat-y;
	padding: 75px 0 75px 0;

}
.test .head{
	height: 110px;
	width: 100%;
	position:relative;
	padding: 0 3% 0 3%;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin-bottom: 45px;
}
.test .left, .test .right{
	height: 55px;
	border-bottom: 1px solid #ccc;
	flex: auto;
}
.test .title{
	height: 110px;
	width:305px;
	line-height: 110px;
	color: #fff;
	font-size: 46px;
	text-align: center;
}
.test .container{
	width: 100%;
}
.test .img1{
	width: 200px;
	height: 200px;
	margin: auto;
	background-image: url(" ./images/testimonial.jpg");
	-webkit-background-size: 100%;
	background-size: 100%;
	border-radius: 50%;
	margin-bottom: 30px;
}
.test .text{
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	margin-bottom: 30px;
}
.test .word-left, .test .word-right{
	flex: auto;
	min-width: 30px;
}
.test .word{
	flex: auto;
	max-width: 680px;
	min-width: 315px;
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	text-align: center;
	font-style: italic;
}
.test .who{
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
.test .position{
	width: 100%;
	height: 20px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.test .select{
	width: 100%;
	height: 40px;
}
/*第四部分，test结束*/
/*第五部分，个人信息开始*/
.hey{
	width: 100%;
	background-image: url(" ./images/google%20maps.PNG");
	background-size:cover;
	-webkit-background-size:cover;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.hey>.head{
	height: 225px;
	width: 100%;
	position:relative;
	padding: 0 3% 0 3%;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: flex-start;
	background-color: rgba(0,0,0,0.65);

}
.hey .left, .hey .right{
	height: 55px;
	margin-top: 75px;
	border-bottom: 1px solid #ccc;
	flex: auto;
}
.hey .title{
	height: 110px;
	width:179px;
	margin-top: 75px;
	line-height: 110px;
	color: #fff;
	font-size: 46px;
	text-align: center;
}
.hey .container{
	width: 100%;
	display: flex;
	align-content: flex-start;
	justify-content: space-around;
	align-items: flex-start;
	background-color: rgba(0,0,0,0.65);
	flex-flow: row wrap;
	color: #fff;
	padding: 0px 3% 10px 3%;


}
.hey .me-info, .hey .message{
	width: 50%;
	max-width: 555px;
	min-width: 345px;
	display: flex;
	flex: auto;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	margin-bottom: 50px;
}
.hey .caption{
	height: 80px;
	width: 100%;
	font-size: 38px;
	color: #fff;

}
.hey div[class*=-con]{
	flex: auto;
	display: flex;	
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-top: 3px;
}
.hey div[class*=-ico]{
	display: block;
	width: 23px;
	height: 21px;
	margin-right: 10px;
	/*background-position: 0 0;*/
	-webkit-background-size: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
.hey .address-ico{
	background-image: url(" ./images/address.png");
	margin-top: 2px;
}
.hey .email-ico{
	background-image: url(" ./images/email.png");
	background-position: 0 7px;
}
.hey .phone-ico{
	background-image: url(" ./images/phone.png");
}
.hey .website-ico{
	background-image: url(" ./images/website.png");
	background-position: -2px 0;
}
.hey .text {
	width: 100%;
	flex: auto;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 600;
	line-height: 22px;
}
.hey .email{
	width: 100%;
	flex: auto;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 22px;
}
.hey .address , .hey .phone{
	width: 100%;
	flex: auto;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 600;
	line-height: 26px;
}
.hey .website{
	width: 100%;
	flex: auto;
	font-size: 16px;
	color: #e66f69;
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 22px;
}
.hey #name, .hey #email{
	width: 100%;
	height: 50px;
	color: #999;
	border: 1px solid  #8e8e8e;
	margin-bottom: 15px;
	background-color: rgba(255,255,255,0.1);
	padding: 0px 10px 0px 10px;
	font-size: 18px;
}
.hey #textarea{
	width: 100%;
	height: 125px;
	border: 1px solid  #8e8e8e;
	margin-bottom: 15px;
	color: #999;
	background-color: rgba(255,255,255,0.1);
	padding: 0px 10px 0px 10px;
	font-size: 18px;
}
.hey .submit{
	width: 110px;
	height: 38px;
	color: #f7f7f7;
	border: 1px solid white;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
	background-color: transparent;
	cursor: pointer;
}
form{
	width: 100%；
}
/*个人信息结束*/
/*联系方式开始*/
.contact{
	background-color: rgba(0,0,0,0.75);
	padding: 30px 0px 45px 0px;

}
.contact .head .title{
	margin:0px auto 30px auto;
	border-bottom: 1px solid #fff;
	width: 320px;
	line-height: 90px;
	height: 90px;
}
.contact .logo{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.contact div:hover{
	background-position: 0 50px;
}
.contact .space{
	flex: auto;
}
.contact .fb{
	width: 50px;
	height: 50px;
	background-image: url(" ./images/facebook.png");
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	flex: none;
	margin: 0px 8px 0px 8px;
}
.contact .tw{
	width: 50px;
	height: 50px;
	background-image: url(" ./images/twitter.png");
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	flex: none;
	margin: 0px 8px 0px 8px;
}
.contact .in{
	width: 50px;
	height: 50px;
	background-image: url(" ./images/linkedin.png");
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	flex: none;
	margin: 0px 8px 0px 8px;
}
.contact .g{
	width: 50px;
	height: 50px;
	background-image: url(" ./images/google-plus.png");
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	flex: none;
	margin: 0px 8px 0px 8px;
}
.contact .wp{
	width: 50px;
	height: 50px;
	background-image: url(" ./images/wordpress.png");
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	flex: none;
	margin: 0px 8px 0px 8px;
}
/*页脚开始*/
.footer{
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 0 10px 0 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	font-size: 16px;
	font-weight: 600;
}
.footer .title{
	width: 100%;
	min-width: 115px;
	max-width: 120px;
	margin: 20px 0 ;
	text-align: center;
}
.footer .text{
	width: 100%;
	max-width: 620px;
	margin: 20px 0px 0px 0px;
	text-align: right;
}
.footer .text a{
	text-decoration: none;
}
.color-red{
	color: #e66f69;
}





/*手机分辨率适配开始*/
@media screen and (max-width: 580px) {
 .name {
 	background-image: url(" ./images/bg-small.jpg");
 	/*background-position: center;*/
 	/*background-size: cover;*/
 	/*background-repeat: no-repeat;*/
 	/*background-attachment: fixed;*/
 }

  .name .title {
 	font-size: 58px;
 }
 
 .name .text {
  	font-size: 22px;
  }
	
}
@media screen and (max-width: 780px) {
.footer .title{
	margin: 20px auto;
	text-align: center;
}
 .footer .text{
	margin: 20px auto 0px ;
	text-align: center;
 }
}

@media screen and (max-width: 405px) {
.work div[class*=img]{
	width: 330px;
	height: 256px;

}
.work .detail{
	margin-top: 256px;
}
.work [class*=img]:hover .detail{
	margin-top: 156px;
}
}
